---
interface Props {
    label: string;
}

const { label = null } = Astro.props;
---

<div class="pill">
    <slot />
    {
        label ? <label>{label}</label> : ''
    }
</div>

<style>
	.pill {
		padding: 0.5rem;

        font-size: var(--text-md);
        display: flex;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		line-height: 1.35;
		white-space: nowrap;
	}

    label {
        display: none;
    }

    @media (min-width: 50em) {
        .pill {
            padding: 0.5rem 1rem;
        }
        label {
            display: inline;
        }
    }
</style>
